/* 
    Document   : template-opera
    Created on : 19.6.2012, 10:18:09
    Author     : pialek
    Description:
        Purpose of the stylesheet follows.
*/

#rt-top {padding: 14px 10px 14px 10px;}
#rt-top ul.menu {padding: 5px 0px;}

