/* 
    Document   : template-gecko
    Created on : 19.6.2012, 10:15:13
    Author     : jawtemplates
    Description:
        Purpose of the stylesheet follows.
*/

#searchform .submit {padding: 3px;}

